@import 'reset.css';

.signature{
    font-weight: bolder;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: end;

    position: relative;
    bottom: 10px;


    text-align: center;
    color: #455e64;
}

.signature p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    padding: 1rem;
}