.notes-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 10px;
    justify-items: center;
}

.note{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: white;
}
.note:hover{
    cursor: pointer;
    transform: translate(-5px, -5px);
    box-shadow: -5px 5px 5px grey;
}
.note span{
    font-weight: bolder;
    margin: 10px;
}
.note p{
   margin: 0 10px;
   overflow-wrap: break-word;
}