section{
    width: 100%;
    height: 100%;
}

.notes-grid{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(210px, 1fr));
    column-gap: 15px;
    row-gap: 10px;
    justify-items: center;
    margin: 0 auto;
}
.note{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: white;
}

.note-actions{
    display: flex;
    height: 1rem;
    gap: 1rem;
    transition: opacity .5s;
    opacity: 0.35;
    width: 100%;
}
.note::before:hover{
    opacity:1;
}

.note-actions:hover{
    opacity:1;
}
.note-actions button {
    background-color: transparent;
    border: none;
    fill: white;
}
.note-actions button:hover{
    cursor: pointer;
    filter: drop-shadow(-1px 1px 1px white);
}

.note:hover{
    cursor: pointer;
    transform: translate(-5px, -5px);
    box-shadow: -5px 5px 5px grey;
}
.note span{
    font-weight: bolder;
    margin: 10px;
}
.note textarea{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    margin: 0 10px;
    overflow-wrap: break-word;
    height: 100%;
    resize: none;
    text-align: center;
}
