.swal2-container .swal-cont{
    background-color:#cfd8dc !important;
    color: #455a64 !important;
    fill: #455a64 !important;
    width: 40% !important;
}
@media(max-width:600px){
    .swal-cont{
        max-width: 250px !important;
    }

}

.swal2-actions .confirm-btn{
    background-color: #455a64 !important;
}